.container
{
    width: 1180px;
    height: auto;
    padding: 20px;
    background-color: grey;
    margin: 20px auto 20px auto;

}

.header
{
    display: grid;
    width: auto;
    height: 64px;
    padding:20px;
    background-color:white;
    margin-bottom: 20px;
    text-align: center;
    align-content: center;
    border: 1px solid black;

    
}

.box {
    display: grid;
    height: 400px;
    grid-template-columns: 70% 30%;
    gap: 20px;
    margin: 0 20px 20px 0;
    
}

.box div {
    width: auto;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    
}

.footer {
    display: grid;
    height: auto;
    grid-template-columns: auto auto auto;
    gap: 20px;
   
}

.footer div {
    width: auto;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{
        max-width:600px;
        height: fit-content;
    }
    .box div{
        background: red;
        max-width: 600px;
    }
    .header {
        background: red;
        max-width: 600px;
    }
    .footer {
        grid-template-columns: auto;
    }
    .footer div {
        background-color: red;
    }

  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .container{
        max-width:600px;
    }
    .box div{
        background: green;
        max-width: 600px;
    }
    .header {
        background: green;
        max-width: 600px;
    }
    .footer {
        grid-template-columns: auto;
    }
    .footer div {
        background-color: green;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .container{
        max-width:768px;
    }
    .box div{
        background: blue;
        max-width: 768px;
    }
    .header {
        background: blue;
        max-width: 768px;
    }
    .footer {
        grid-template-columns: auto auto auto;
    }
    .footer div {
        background-color: blue;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .container{
        max-width:992px;
    }
    .box div{
        background: orange;
        max-width: 992px;
    }
    .header {
        background: orange;
        max-width: 992px;
    }
    .footer {
        grid-template-columns: auto auto auto;
    }
    .footer div {
        background-color: orange;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .container{
        max-width:1200px;
    }
    .box div{
        background: pink;
        max-width: 1200px;
    }
    
    .header {
        background: pink;
        max-width: 1200px;
    }
    .footer {
        grid-template-columns: auto auto auto;
    }
    .footer div {
        background-color: pink;
    }
  }